
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}

nav a {
    padding: 20px;
    color: white;
    display: none;
}


header {
    text-align: center;
    background-color: rgb(14, 126, 196);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    padding-bottom: 0px;

}
 
.hed1  h1 {
    text-align: center;
    background-color: rgb(14, 126, 196);
    color: white;
    font-family: 'Courier New', Courier, monospace;;
    margin: 0px;
    padding: 0px
}

.hed2 {
    background-color: lightgray;
    padding-top: 10px;
    text-align: center;
}

h2 {
    margin: 0px;
    max-height: fit-content;
    padding-bottom: 5px ;
    font-family: 'Courier New', Courier, monospace;
}

main {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

section {
    padding: 10px;  
}

img {
    max-width: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 7px solid white;
    box-shadow: 5px 5px 5px gray;
    margin: 10px;
}

footer {
    text-align: center;
    background-color: rgb(14, 126, 196);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-top: 20px;
}


@media screen and (min-width: 700px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

   .hed {
    justify-content: center;
   }
   
}
   
    

@media screen and (min-width: 1000px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    .menu-btn {
        display: none;
    }

    nav {
        padding-bottom: 5px;
    }

    nav a {
        display: inline;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;

    }

}