
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}

nav a {
    padding: 20px;
    color: white;
    display: block;
}

.hide {
     display: none; 
}

header {
    text-align: center;
    background-color: rgb(14, 126, 196);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    padding-bottom: 0px;

}
 
.hed1  h1 {
    text-align: center;
    background-color: rgb(14, 126, 196);
    color: white;
    font-family: 'Courier New', Courier, monospace;;
    margin: 0px;
    padding: 0px
}

.hed2 {
    background-color: lightgray;
    padding-top: 10px;
    text-align: center;
}

h2 {
    margin: 0px;
    max-height: fit-content;
    padding-bottom: 5px ;
    font-family: 'Courier New', Courier, monospace;
}

main {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

figure img {
    padding: 10px;  
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 0 auto;
}

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

footer {
    text-align: center;
    background-color: rgb(14, 126, 196);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-top: 20px;
}


@media screen and (min-width: 700px) {

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

   .hed {
    justify-content: center;
   }
   
}
   
    

@media screen and (min-width: 1000px) {

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    .menu-btn {
        display: none;
    }

    nav {
        padding-bottom: 5px;
    }

    nav a {
        display: inline;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;

    }

}